$accentColor = #388E3C
$textColor = #212121
$borderColor = #BDBDBD
$codeBgColor = #FFFFFF

.bg-main {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url("/front.jpg");
    background-size: cover;
    padding-top: 10%;   
}